[submodule "foundry-erc20-f23/lib/forge-std"]
	path = foundry-erc20-f23/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-erc20-f23/lib/openzeppelin-contracts"]
	path = foundry-erc20-f23/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "nft-collection/lib/forge-std"]
	path = nft-collection/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "nft-collection/lib/openzeppelin-contracts"]
	path = nft-collection/lib/openzeppelin-contracts
	url = https://github.com/Openzeppelin/openzeppelin-contracts
[submodule "nft-collection/lib/foundry-devops"]
	path = nft-collection/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "defi-protocol/lib/forge-std"]
	path = defi-protocol/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "defi-protocol/lib/openzeppelin-contracts"]
	path = defi-protocol/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "defi-protocol/lib/chainlink-brownie-contracts"]
	path = defi-protocol/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
